* {
  font-family: "Inter", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #e5e5e5;
}

h1,
h2,
h3,
input,
button {
  font-family: "Press Start 2P", system-ui;
  letter-spacing: 1px;
}

.onamissionContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-size: 24px;
}

.onamissionContainer img {
  width: 150px;
  height: 150px;
  clip-path: inset(20px 20px 50px 30px);
  overflow: hidden;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 20px;
  background: #1a1a1a;
  gap: 16px;
}

.todolistInput {
  display: flex;
  align-items: stretch;
  justify-content: center;
  gap: 10px;
}

header,
.main {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
  gap: 16px;
}

header input {
  flex: 1;
  border-radius: 10px;
  outline: none;
  width: 100%;
  background: #333;
  color: #e5e5e5;
  border: 2px solid #444;
  transition: background 200ms, border 200ms;
}

header input:focus {
  background: #444;
  border-color: #555;
}

header button {
  border-radius: 10px;
  background: #444;
  color: #e5e5e5;
  transition-duration: 200ms;
  cursor: pointer;
  border: 2px solid #555;
}

header button:hover {
  background: #555;
  border-color: #666;
  opacity: 0.85;
}

header button,
header input {
  padding: 14px 18px;
}

footer {
  text-align: center;
  padding: 20px;
  color: #e5e5e5;
  border-top: 2px solid #444;
  margin-top: auto;
  font-size: 0.5em;
}

footer p {
  margin: 0;
}

p {
  font-size: 1em;
  font-weight: 400;
}

.main {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.todoItem {
  display: flex;
  align-items: center;
  gap: 16px;
  padding: 16px;
  border-radius: 10px;
  background: #333;
  color: #e5e5e5;
  border: 2px solid #444;
  transition: background 200ms, border 200ms;
}

.todoItem:hover {
  background: #444;
  border-color: #555;
}

.todoItem p {
  flex: 1;
}

.actionsContainer {
  display: flex;
  align-items: center;
  gap: 14px;
}

.actionsContainer button {
  transition-duration: 200ms;
  border: none;
  background: transparent;
  cursor: pointer;
  color: #e5e5e5;
}

.actionsContainer button:hover {
  opacity: 0.85;
}

@media (min-width: 640px) {
  header button,
  header input {
    font-size: 1.2em;
  }

  p {
    font-size: 1.1em;
  }
}
